<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Lucidity Dev Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/name" class="btn btn-default btn-sm">Change name</a>
        <button id="link-btn" class="btn btn-default btn-sm">Link Account</button>
        <button id="get-transactions-btn" class="btn btn-default btn-sm">Get Transactions</button>
        <button id="get-all-transactions-btn" class="btn btn-default btn-sm">Get All Transactions</button>
        <button id="get-accounts-btn" class="btn btn-default btn-sm">Get Accounts</button>
        <button id="get-all-accounts-btn" class="btn btn-default btn-sm">Get All Accounts</button>
        <button id="get-item-btn" class="btn btn-default btn-sm">Get Item</button>
        <button id="get-all-item-btn" class="btn btn-default btn-sm">Get All Items</button>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>Name</strong>: <%= user.name %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>password</strong>: <%= user.password %><br>

                    </p>

            </div>
        </div>

    </div>

</div>
</body>

<script>


//user.accounts[0].access_token
//user.accounts[0].item_id

var NUM_ACCTS = null;
$.getJSON("api/user_data", function(data) {
    // Make sure the data contains the username as expected before using it
    if (data.hasOwnProperty('username')) {
        console.log('Username: ' + data.username);
        console.log('Num of accounts: ' + data.num_of_accounts);
        NUM_ACCTS = data.num_of_accounts;
    }
});

var handler = Plaid.create({
    apiVersion: 'v2',
    clientName: 'Plaid Walkthrough Demo',
    env: '<%= PLAID_ENV %>',
    product: ['transactions'],
    key: '<%= PLAID_PUBLIC_KEY %>',
    onSuccess: function(public_token) {
      $.post('/get_access_token', {
        public_token: public_token
      }, function() {
        $('#container').fadeOut('fast', function() {
          $('#intro').hide();
          $('#app, #steps').fadeIn('slow');
        });
      });
    },
});

$('#link-btn').on('click', function(e) {
    handler.open();
});

$('#get-all-accounts-btn').on('click', function(e) {
    for (var i = 0; i < NUM_ACCTS; i++) {
        $.get('/accounts', {params: {var_i: i}}).success(
            function(success){
                console.log(success)
        }).error(
            function(error){
                console.log(error)
        });
    }
});

// $('#get-accounts-btn').on('click', function(e) {
//     $.get('/accounts', function(data) {
//         console.log(data.accounts);
//     });
// });

$('#get-all-item-btn').on('click', function(e) {
    for (var i = 0; i < NUM_ACCTS; i++) {
        $.post('/item',{params: {var_i: i}}).success(
        function(success){
            console.log(success)
        }).error(
        function(error){
            console.log(error)
        });

    }
});

// $('#get-item-btn').on('click', function(e) {
//     $.post('/item',function(data) {
//         if (data.error)
//           console.log(data.error);
//         else {
//           console.log(data.institution);
//           /*data.institution.name
//           data.item.billed_products
//           data.item.available_products*/
//         }
//     });
// });


$('#get-all-transactions-btn').on('click', function(e) {
    for (var i = 0; i < NUM_ACCTS; i++) {
      $.post('/transactions', {params: {var_i: i}}).success(
      function(success){
          console.log(success)
      }).error(
        function(error){
            console.log(error)
        });
  }
});
// $('#get-transactions-btn').on('click', function(e) {
//     $.post('/transactions', function(data) {
//
//       if (data.error != null) {
//         console.log(data.error.error_code + ' ' +
//          data.error.error_message);
//         }
//        else {
//
//         console.log(data.transactions);
//     }});
// });


</script>



</html>
